<div id="error-panel" class="alert alert-danger" role="alert" ng-show="addAlbumForm.error"></div>
<form name="addAlbumForm" class="css-form">
    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Release Date<br/>(dd-mm-yyyy)</th>
            <th>Cover Art</th>
            <th>Note</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <thead>
            <tr>
                <th></th>
                <th>
                    <div class="form-group">
                        <div class="alert alert-warning" role="alert">
                            <span title="required" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <input type="text" name="title" ng-model="albumToBeAdded.title" required/>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <div class="alert alert-warning" role="alert">
                            <span title="required" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <input type="text" name="releaseDate" ng-model="albumToBeAdded.releaseDate" required/>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <input type="text" name="coverArt" ng-model="albumToBeAdded.coverArt"/>
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <textarea name="note" ng-model="albumToBeAdded.note" ng-maxlength="255"
                                  placeholder="Max 255 characters"></textarea>
                    </div>
                </th>
                <th></th>
                <th>
                    <button type="submit" class="btn btn-success"
                            ng-click="createAlbum()" ng-disabled="addAlbumForm.$invalid">Add</button>
                </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="album in albums">
                <td>{{album.id}}</td>
                <td>
                    <span ng-hide="album.editing">{{album.title}}</span>
                    <div ng-show="album.editing" class="form-group">
                        <div class="alert alert-warning" role="alert">
                            <span title="required" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <input type="text" name="editableAlbum.title" ng-model="album.title"/>
                        </div>
                    </div>
                </td>
                <td>
                    <span ng-hide="album.editing">{{album.releaseDate}}</span>
                    <div ng-show="album.editing" class="form-group">
                        <div class="alert alert-warning" role="alert">
                            <span title="required" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <input type="text" name="editableAlbum.releaseDate" ng-model="album.releaseDate"/>
                        </div>
                    </div>
                </td>
                <td>
                    <span ng-hide="album.editing"><img class="img-rounded" ng-src="{{album.coverArt}}"/></span>
                    <input ng-show="album.editing" type="text" name="editableAlbum.coverArt" ng-model="album.coverArt" />
                </td>
                <td>
                    <span ng-hide="album.editing">{{album.note}}</span>
                    <textarea ng-show="album.editing" name="editableAlbum.note" ng-model="album.note"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-warning" ng-click="doneEditing(album)">
                        {{album.editing ? 'Submit' : 'Edit'}}
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="deleteAlbum(album.id)">Remove</button>
                </td>
        </tr>
        </tbody>
    </table>
</form>